<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <script src="static/gpay.js"></script>
    <script async src="https://pay.google.com/gp/p/js/pay.js"
        onload="onGooglePayLoaded()"></script>
</head>
<body>
    <div class="App">
        <header class="App-header">
            <div id="jfkpay">
                Pay here <span class="heart">♥️</span> 
            <div id="payment"></div>
            <img src="{{ url_for('qr_payment_code', amount=1000) }}" class="QR" alt="payemnt QR code" />
            </div>
        </header>
    </div>
</body>
</html>
